<head> 
    <style type="text/css"> 
      .table{ 
        border-collapse: collapse; 
      } 

      tr,td,th{ 
        border: 1px solid #000; 
        padding: 5px; 
      } 

      td{ 
          width: 300px; 
      } 

      .number{ 
          text-align: right; 
      } 
    </style> 
</head> 

<table class="table"> 
  <tr> 
    <th>Judul</th> 
    <th>Penulis</th> 
    <th>Rating</th> 
  </tr> 

  <tr ng-repeat="b in books"> 
    <td>{{b.judul}}</td> 
    <td>{{b.penulis}}</td> 
    <td class="number">{{b.rating}}</td> 
  </tr> 
</table>